
nav .container-fluid{
    display: flex;
    align-items: center;
}

.navbar-collapse{
    
    justify-content: center;
}

nav li{
    margin: 0px 20px;
    font-size: 20px;
    font-weight: 500;
    
}

.hero{
    height: 80vh;
    
    background-color: #00f0f7;
    border-radius: 0% 0% 35% 0%;
    
    
}
.hero .row{
    background-color: #F8F9FA;
    border-radius: 0% 0% 40% 0%;
}

.hero .image{
    min-height: 100%;
    background-image: url("image-6@2x.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation-name:left ;
    animation-duration: 1.5s;
    position: relative;
}

.hero .text{
    animation-name:top ;
    animation-duration: 1.9s;
    position: relative;
}


.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 100%;
}
.row{
    height: 100%;
    
}


.team{
    background-color: #00eff780;    
    border-radius: 10% 10% 0% 0%;
   
    
}
.team .row{
    display: flex;    
    justify-content: space-between;    
    text-align: center;
    padding-bottom: 1rem;
}

.team .position{
    font-size: 24px;
    font-weight: 600;
    text-align: end;
}

.team .profile{
    text-align: left;
    font-size: 18px;
    
}



.contact{
    background-color: #18181B;
    padding-top: 20px;
}
.contact .row{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact .way{
    box-shadow: 0px 0px  13px #00f0f7;   
    
}



.footer{
    height: 20vh;
    background-color: #2A3245;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


/* transitions */
@keyframes left {
    0%{
        opacity: 0;
        left: -200px;
    }
    
    100%{
        opacity: 1;
        left: 0px;
    }
}

@keyframes top {
    0%{
        opacity: 0;
        top: 200px;
    }
    
    100%{
        opacity: 1;
        top: 0px;
    }
}



@media only screen and (max-width:650px) {
    .hero{
        /* position: relative;
        display: flex;
        justify-content: center; */
        max-height: 50vh;
        min-height: 0vh;
    
    }
    
    /* .hero .image{
        position: absolute;
        float: left;
        left: 0px;
        top: 20px;
        z-index: 1;
    }  */

    .hero .text p{
        position: relative;
        z-index: 2;
        /* width: 40vh; */
        font-size: 12px !important;
    }
    .team{
        background-color: #00eff780;    
        border-radius: 0%;
       
        
    }
}
